.App {
  width: 100vw;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.Navbar {
  height: 10%;
  text-align: center;
  background-color: #caccc5;
  border-bottom: 2px solid black;
}

.flag {
  height: 30px;
  width: 60px;
  object-fit: cover;
  border: 2px solid black;
}

.Sidebar {
  width: 20%;
  height: 100%;
  background-color: #cfd6dc;
  text-align: center;
  border-right: 2px solid black;
}

.Sidebar h1 {
  padding: 5%;
}

.Sidebar h3 {
  padding-left: 5%;
  margin: 2%
}

.Sidebar-list {
  padding: 5%;
  display: grid;
}

.Main {
  display: flex;
  width: 100vw;
  height: 89.85vh;
}

.Game {
  text-align: center;
  height: 100%;
  width: 80%;
  background-color: white;
}

.Timer {
  padding: 2%;
}

.Question {
  padding: 2%;
  font-size: 20px;
}

.Keyword {
  color: red;
}

.button {
  background-color: #04AA6D;
  min-width: 30%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  display: flex;
  justify-content: left;
  padding: 5%;
  background-color: white; 
  color: black; 
  border: 2px solid black;
}

.button1:hover {
  background-color: #04AA6D;
  color: white;
}

.button2 {
  background-color: #caccc5; 
  color: black; 
  border: 2px solid black;
}

.button2:hover {
  background-color: red;
  color: white;
}

input {
  width: 100px;
  height: 100px;
  font-size: 40px;
  margin: 10px;
  text-align: center;
  border: 2px solid black;
}