.App {
  width: 100vw;
  height: 100vh;
}

.Sidebar {
  height: 100%;
  width: 20%;
  background-color: green;
  text-align: center;
}

.Navbar {
  height: 20%;
  width: 100%;
  background-color: red;
  text-align: center;
}

.Main {
  display: flex;
  width: 100vw;
  height: 80vh;
}